body {
    background-color: #ffffff;
    color: #ffffff;
    font-family:"돋움";
}
  
.btn {
    cursor: pointer;
}


.clicked {
    color: #7f8c8d;
}

.form,
.greetings {
    display: none;
    text-align: center;
    position: relative;
    top: 10px;

}

#clock { 
	font-size: 200px;
    text-align: center;
    position: relative;
    top: 50px;
}

.showing {
    display: block;
}

@keyframes fadeIn { 
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}
